modules = ["php-8.2", "web", "nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 41470668
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php artisan serve --host=0.0.0.0 --port=5000"

[[ports]]
localPort = 5000
externalPort = 80
